<!-- START -->
{% extends "base.html" %} {% block content %}

<div class="card text-center">
    <div class="card-header">
        <h2>Malaria Diagnosis with Deep Learning!</h2>
    </div>
    <div class="card-body">
        <div>
            <form id="upload-file" method="post" enctype="multipart/form-data">
                <label for="imageUpload" class="upload-label">
                    Upload Blood Smear Image
                </label>
                <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
            </form>

            <div class="image-section">
                <div class="img-preview">
                    <div id="imagePreview">
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
                </div>
            </div>

            <div class="loader" style="display:none;"></div>

            <h3 class="result-heading">
                Result: <span id="result" style="white-space: pre-line"></span>
            </h3>

        </div>
    </div>
</div>

<div class="container-fluid about">
    <h2>About DeleMa Detect</h2>
    <p>This is a demo server that is able to predict if a blood smear image is infected with <em>Plasmodium falciparum</em> or not for Malaria detection.</p>

    <p>This is a part of iGEM IISER Pune '20 Project. More details can be found on our <a href="https://2020.igem.org/Team:IISER-Pune-India" target="_blank" rel="noopener noreferrer">Wiki Page</a>.</p>

    <p>This Demo Web App is a part of DeleMa Detect, a deep learning framework for malaria diagnosis. Information about the Software and the usage protocol can be found on the <a href="https://2020.igem.org/Team:IISER-Pune-India/Software" target="_blank" rel="noopener noreferrer">DeleMa Detect Wiki Page</a>.</p>

    <p>The Server Code can be found on <a href="https://github.com/igemsoftware2020/IISER-Pune-India" target="_blank" rel="noopener noreferrer">iGEM IISER Pune's GitHub Repo</a>.</p>
</div>

{% endblock %}
<!-- END -->