@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
    font-family: "Titillium Web"!important;
}

.navbar {
    background-color: #333333;
}

.navbar-brand {
    font-size: 4vmin;
}

.card {
    height: 600px;
    margin-bottom: 60px;
}

.img-preview {
    width: 256px;
    height: 256px;
    position: relative;
    border: 5px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 1em auto;    
}

.img-preview>div {
    width: 100%;
    height: 100%;
    background-size: 256px 256px;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="file"] {
    display: none;
}

.upload-label{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #34495E;
    font-size: 1em;
    font-weight: bolder;
    transition: all .4s;
    cursor: pointer;
}

.upload-label:hover{
    background: #34495E;
    color: #39D2B4;
}

#btn-predict {
    background-color: #cc3333;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #cc3333; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto!important;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Result */

h3 {
    display: inline-block;
    color: #34495E;
    padding: 5px;
}

h3 span {
    color: var(--success);
}

.result-heading {
    font-size: 5vmin;
}

.infected {
    color: #cc3333;
}

.about {
    width: 70%;
    padding-bottom: 4rem;
}

.about h2 {
    text-align: center;
}

/* Jatin's CSS for Links */

.about a {
    margin: auto;
    text-decoration: none;
    color: #371D31;
    position: relative;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    z-index: 0;
    white-space: nowrap;
}

.about a:after {
    content: '';
   
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 0rem;
    left: 0rem;
    background-color: #D3251B;
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
}

.about a:hover {
    color: #fff;
}

.about a:hover:after {
    right: 0;
    left: 0;
    height: 100%;
}

a {
    white-space: nowrap;
}

/* Footer */

footer {
    bottom: 0;
    width: 100%;
    padding-top: 40px;
    border-top: 1px solid #111111;
}

footer div.jumbotron {
    background: white;
}

.social-media svg {
    width: 1.5rem;
    margin: 10px;
}


.github {
    padding-bottom: 0;
    margin-bottom: 0.2em;
}

.github-icon {
    width: 1em !important;
}

.github a {
    fill: #007BFF;
}

.github a:hover {
    color: #cc3333;
    fill: #cc3333;
}

.img-fluid:hover {
    cursor: pointer;

}


.social-media a:nth-child(1) {
    fill: #3b5998;

}

.social-media a:nth-child(2) {
    fill: #00acee;

}

.social-media a:nth-child(3) {
    fill: #000;

}

.social-media a:nth-child(4) {
    fill: #ff0000;

}

.social-media a svg, .social-media a img {
    transition: 0.2s;
}

.social-media a svg:hover, .social-media a img:hover {
    transform: scale(1.2);
    transition: 0.2s;
}
